main {
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 220, 220);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.avatar {
    height: 90%;
    min-height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

h4 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0;
}

h5 {
    font-size: .8rem;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 0;
}

i {
    margin: 10px;
}

.underlined {
    text-decoration: underline;
}

.main-green-bar {
    background-color: rgb(0, 150, 130);
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
}

.bolzapp-container {
    position: absolute;
    height: 90vh;
    width: 80%;
    min-width: 768px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
}

.chats-list {
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(200, 200, 200);
}

.activate-notification {
    background-color: rgb(120, 200, 210);
    padding: 3px;
    display: flex;
    align-items: center;
}

.activate-notification i{
    font-size: 1.3rem;
    aspect-ratio: 1 / 1;
    padding: 7px;
    background-color: white;
    border-radius: 50%;
    color: rgb(120, 200, 210);
}

.chats-list .input-group {
    margin: 5px;
    width: auto;
}

.chats-list .input-group i {
    font-size: .7rem;
}

.chat-header {
    height: 50px;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
}

.header-description {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}
.header-description h5 { 
    overflow: hidden;
}


.chats-list{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chats {
    overflow-y: scroll;
    height: 100%;
    border-radius: 0 0 0 10px;
}

.chat {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(200, 200, 200);

}

.chat.active {
    background-color: rgb(240, 240, 240);
}

.chat-time {
    margin: 10px;
    margin-bottom: auto;
}
.home {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 242, 245);
    text-align: center;
}
.home h2 {
    opacity: 0.7;
}
.home h4 {
    opacity: 0.5;
}

.home img {
    width: 50%;
}
.boolzappDescr {
    width: 60%;
}
.active-chat {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.fa-chevron-left {
    display: none;
}

.current-chat {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:url("../img/mine.jpg") ;
}

.current-chat .message {
    max-width: 40%;
    width: fit-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0px 10px 5px 10px;
    position: relative;
}

.message.sent {
    margin-left: auto;
    background-color: rgb(210, 250, 180);
}

.message.sent:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(210, 250, 180);
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(210, 250, 180);
    border-bottom: 10px solid transparent;
    right: -8px;
    bottom: 3px;
}

.message.received {
    margin-right: auto;
}

.message.received .text {
    z-index: 1;
}

.message.received:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    left: -8px;
    bottom: 3px;
    z-index: 0;
  }

  .message.noMessages {
    margin: auto;
    margin-bottom: 1rem;
    width: 20%;
    text-align: center;
    opacity: 0.6;
  }
  .message.noMessages .text {
    width: 100%;
  }

.message .hour {
    align-self: flex-end;
    z-index: 1;
}

.message .hover {
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
    background-color: rgb(210, 250, 180);
    opacity: 0.9;
    border-radius: 10px;    
}

.message.received .hover {
    background-color: white;
}

.message:hover .hover {
    display: block;
    font-size: 0.8rem;
}

.message:hover h5 {
    filter: blur(0.5px);
}

.current-chat .text {
    max-width: 100%;
    padding: 2px;
}

.message h4 {
    font-weight: 400;
    margin: 5px;
}

.message h5 {
    margin: 5px 5px 5px 0;
}

.current-chat-footer {
    display: flex;
    align-items: center;
}
.current-chat-footer i {
    margin: 5px 20px 5px 20px;
    font-size: 1.2rem;
}

.current-chat-footer input {
    margin: 5px 0 5px 0;
}

@media screen and (max-width: 768px) {
    .bolzapp-container {
        height: 100vh;
        width: 100vw;
        min-width: 0;
        border-radius: 0;
        top: 0;
        right: 0;
        left: 0;
    }

    .chats-list{
        width: 100vw;
    }
    .active-chat {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 100vh;
    }

    .fa-ellipsis-vertical {
        display: none;
    }
    .fa-chevron-left {
        display: block;
    }
}