/***************************
* Page 
****************************/

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 220, 220);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-green-bar {
    background-color: rgb(0, 150, 130);
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
}


/***************************
* Fonts
****************************/
h4 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0;
}

h5 {
    font-size: .8rem;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 0;
}

.underlined {
    text-decoration: underline;
}

/***************************
* Elements 
****************************/
    /* Icons */
    i {
        margin: 10px;
    }
    /* Avatar */
    img.avatar {
        height: 90%;
        min-height: 30px;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
    }


/***************************
* Boolzapp Container
****************************/
.bolzapp-container {
    position: absolute;
    height: 80vh;
    width: 80%;
    min-width: 768px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(200, 200, 200);
}

/***************************
* Chat List 
****************************/
.chats-list {
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(200, 200, 200);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    /* Chat Header */
    .chat-header {
        height: 50px;
        border-bottom: 1px solid rgb(200, 200, 200);
        display: flex;
        align-items: center;
    }

    .header-description {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
    }
    .header-description h5 { 
        overflow: hidden;
    }

    /* Activate notification banner */
    .activate-notification {
        background-color: rgb(120, 200, 210);
        padding: 3px;
        display: flex;
        align-items: center;
        position: relative;
    }
    /* Activate Notification icon */
    .activate-notification i{
        font-size: 1.3rem;
        aspect-ratio: 1 / 1;
        padding: 7px;
        background-color: white;
        border-radius: 50%;
        color: rgb(120, 200, 210);
    }
    /* Notification Banner Close Button */
    .notificationBannerCloseButton{
        display: none;
    }    
    .activate-notification:hover .notificationBannerCloseButton{
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
    
    /* Chat List search */
    .chats-list .input-group {
        margin: 5px;
        width: auto;
    }

    /* Chats Container */
    .chats {
        overflow-y: scroll;
        height: 100%;
        border-radius: 0 0 0 10px;
        display: flex;
        flex-direction: column;
    }

    /* Chat box */
    .chat {
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid rgb(200, 200, 200);

    }

    /* Chat Box Message */
    .chat-message {
        max-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* Active Chat box */
    .chat.active {
        background-color: rgb(240, 240, 240);
    }
    /* Chat box time */
    .chat-time {
        margin: 10px;
        margin-bottom: auto;
    }
    /* Empty chat division */
    .startChat {
        width: 100%;
        order: 9999;
        text-align: center;
        opacity: 0.8;
    }
    /* Class to align down empty chats */
    .chat.align-down {
        order: 100000;
    }


/***************************
* Add Contact Section
****************************/

/* Add Contact page */
.add-contact {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 242, 245);
    border-radius: 0 10px 10px 0 ;
}

/* Add Contact Wrapper */
.add-contact-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    /* Sample images slider */
    .userImgSlider {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }

    /* Sample image */
    .sampleImage {
        width: 50px;
        border-radius: 50%;
        border: 1px solid rgb(180, 182, 185);
    }

    .sampleImage.active {
        border: 1px solid rgb(100, 102, 105);

    }
    
    .addImg {
        width: 50px;
        height: 50px;
        background-color: rgb(220, 222, 225);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(180, 182, 185);
    }


/* Add Contact Add Button */
.add-contact-container .btn {
    background-color: rgb(220, 222, 225);
    border: 1px solid white;
    color: rgba(0, 0, 0, .85);
    align-self: center;
}

/* Add Contact Esc Button */
.add-contact-container .btn.esc {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
}


/***************************
* Home Page
****************************/
.home {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 242, 245);
    text-align: center;
    border-radius: 0 10px 10px 0 ;

}
.home h2 {
    opacity: 0.7;
}
.home h4 {
    opacity: 0.5;
}

.home img {
    width: 50%;
}
.boolzappDescr {
    width: 60%;
}

/***************************
* Active Chat
****************************/

.active-chat {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Back button for mobile view */
.fa-chevron-left {
    display: none;
}

    /* Current Active Chat container */
    .current-chat {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image:url("../img/mine.jpg") ;
    }

    /* Current Chat Message */
    .current-chat .message {
        max-width: 55%;
        width: fit-content;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        margin: 0px 10px 5px 10px;
        position: relative;
    }
    .message .text {
        max-width: 100%;
        padding: 2px;
    }

    .message h4 {
        font-weight: 400;
        margin: 5px;
    }
    
    .message h5 {
        margin: 5px 5px 5px 0;
    }

    .message .hour {
        align-self: flex-end;
        display: flex;
        align-items: center;
    }
    
    .message .hour h5,
    .message .hour .fa-check-double {
        font-size: 0.7rem;
        margin: 3px;
        z-index: 1;
    } 

    .message .hour .fa-check-double {
        font-size: 0.6rem;
    }
    .fa-check-double.blue {
        color: blue;
    }
    /* Sent Message */
    .message.sent {
        margin-left: auto;
        background-color: rgb(210, 250, 180);
    }
    
    .message.sent:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid rgb(210, 250, 180);
        border-right: 10px solid transparent;
        border-top: 10px solid rgb(210, 250, 180);
        border-bottom: 10px solid transparent;
        right: -8px;
        bottom: 3px;
    }

    /* Received Message */
    .message.received {
        margin-right: auto;
    }

    .message.received .text {
        z-index: 1;
    }

    .message.received:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid white;
        border-top: 10px solid white;
        border-bottom: 10px solid transparent;
        left: -8px;
        bottom: 3px;
        z-index: 0;
    }

    /* Message onHover Dropdown Menu */
    .nav-link.dropdown{
        z-index: 2;
        opacity: 1;
    }
    
    .message .hover {
        height: 100%;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        text-align: end;
        background-color: rgb(210, 250, 180);
        opacity: 0.9;
        border-radius: 10px;    
    }
    
    .message.received .hover {
        background-color: white;
    }
    
    .message:hover .hover {
        display: block;
        font-size: 0.8rem;
    }
    
    .message:hover h5 {
        filter: blur(0.5px);
    }

    /* Empty Chat Message */
    .message.noMessages {
        margin: auto;
        margin-bottom: 1rem;
        width: 20%;
        min-width: 150px;
        text-align: center;
        opacity: 0.6;
    }
    .message.noMessages .text {
        width: 100%;
    }

/* Message input field */

.current-chat-footer {
    display: flex;
    align-items: center;
}
.current-chat-footer i {
    margin: 5px 20px 5px 20px;
    font-size: 1.2rem;
}

.current-chat-footer input {
    margin: 5px 0 5px 0;
}
    /* Emoji Picker Icon */
    .fa-face-smile {
        position: relative;
        cursor: pointer;
    }
    /* Emoji Picker */
    .emojiPicker {
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: white;
        bottom:25px;
        transform: translate(15%, 0);
        z-index: 2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .emojiContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: scroll;
        width: 90%;
        height: 90%;
        border-radius: 10px;
        font-size: 1.5rem;
        cursor:pointer;
    }
